@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --shadow-soft: 0 10px 30px rgba(0, 0, 0, 0.12);
  --dark-green: #3e524c;
  --petrol-green: #094457;
  --medium-green: #679587;
  --green: #8a9e94;
  --light-green: #b6c0b3;
  --homok: #d9d9d9;
  --body-text: #434f49;
  --pink: #e9a9c4;
  --dark-pink: #dc6ea6;
  --title: #2a3937;
  --white: #fff;
  --ice-blue: #e9faff;
  --light-blue: #a0bbe4;
  --dark-blue: #2a6aca;
  --grey: #acacac;
  --radius: 0.5rem;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
@media only screen and (max-width: 1025px) {
  html {
    font-size: 1.4vw;
  }
}
@media only screen and (max-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 14px;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: "inter", sans-serif;
  overflow-x: hidden;

  background: linear-gradient(180deg, #163552 0%, #122a44 100%);
}
.about-img {
  width: clamp(250px, 40vw, 450px);
  border-radius: 12px;
  box-shadow: var(--shadow-soft);
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: var(--title);
  text-decoration: none;
}
a:hover {
  color: var(--dark-green);
}
/*.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}*/
.services-card {
  background: var(--homok);
  border: 2px solid var(--homok);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
  padding-left: 20px;
  border-radius: 0px 20px 0px 20px;
  max-width: 75%;
  margin-bottom: 2rem;
  color: var(--title);
  /*transition: 0.2s ease;
  transform-origin: left center;*/
}
.services-card p {
  color: var(--body-text);
}
/*.services-card:hover {
  transform: translateY(-5px);
}*/
.services-btn {
  display: inline-block;
  padding: 0.8rem 1.2rem;
  color: var(--body-text);
  /*background-color: var(--green);*/
  text-transform: uppercase;
  border: 1px solid #333333;
  border-radius: 24px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  transition: transform 0.2s ease;
  margin-bottom: 2rem;
}
.services-btn:hover {
  transform: scale(1.1);
  background-color: var(--petrol-green);
  color: var(--white);
}
.services svg {
  height: 12.5rem;
  width: 12.5rem;
  stroke-width: 0.5;
  stroke: var(--title);
}

@media (min-width: 1024px) {
  .single-post .col-3-4 > div {
    max-width: none;
    width: 100%;
    padding-right: 0;
  }
  .single-post .col-3-4 p,
  .single-post .col-3-4 .visible {
    max-width: none;
    width: 100%;
    margin-right: -80px; /* vagy amit beállítottál */
  }
}

li {
  line-height: 1.3;
  font-size: 1rem;
}
ul {
  padding: 0 20px;
}
ul li::marker {
  color: var(--white);
  font-size: 20px;
  line-height: 0;
}
ol {
  padding-left: 1.5rem;
}
ol li::marker {
  color: #fff;
  font-weight: bold;
}
ol li {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  padding-left: 10px;
  line-height: 2rem;
}
ol li::before {
  content: "";
  width: 2rem;
  height: 2rem;
  background: var(--white);
  display: block;
  position: absolute;
  top: 0rem;
  left: -2.25rem;
  z-index: -1;
  border-radius: 50%;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 {
  font-family: "Playfair display";
  font-weight: 400;
  font-style: oblique;
  font-size: 3rem;
  position: relative;
  padding-bottom: 1rem;
  z-index: 1;
  text-align: center;
}
h2 {
  font-size: 2rem;
  margin-top: 0;
  position: relative;
  padding-bottom: 1rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-family: inter;
  font-size: 1.3rem;
  color: var(--grey);
}
.contact-btn,
input[type="submit"] {
  display: inline-block;
  padding: 1rem 1rem;
  color: #fff;
  background-color: var(--medium-green);
  text-transform: uppercase;

  border: 2px solid #333333;
  border-radius: 24px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  transition: transform 0.2s ease;
  margin-bottom: 2rem;
}
.pixelliberty-img {
  margin: 4rem 0 0 4rem;
  width: 50%;
  opacity: 0.6;
  filter: blur(2px);
}
.contact-btn:hover {
  padding: 1rem 1rem;
  color: var(--white);
  background-color: #cb2cbe;
  box-shadow:
    inset 0 1px 1px rgba(255, 255, 255, 0.12),
    0 6px 14px rgba(203, 44, 190, 0.25);

  transition: all 0.25s ease;

  border: 1px solid var(--white);
  border-radius: 32px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  transform: scale(1.1);
}

a.button {
  margin-left: 40px;
}

.align-center {
  text-align: center;
}

.hero {
  color: var(--grey);
  overflow: hidden;
}

.hero p {
  padding: 0 24px;
}
.hero .contact-btn {
  margin-left: 1.5rem;
}
.heading {
  color: var(--grey);
}

.impresszum {
  background: whitesmoke;
  border: 2px solid var(--dark-green);
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.15);
  padding-left: 20px;
  border-radius: 0px 20px 0px 20px;
  max-width: 75%;
  margin-bottom: 2rem;
  transition: 0.2s ease;
  transform-origin: left center;
}
.impresszum:hover {
  transform: scale(1.02) translateX(5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  transition: 0.25s ease;
}

footer {
  background-color: var(--petrol-green);
  position: relative;
  z-index: 9;
  color: #fff;
  text-align: center;
  overflow: hidden;
  font: smaller;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: var(--dark-pink);
}
.footer-social {
  background-color: #fff;
  box-shadow: inset 0px 4px 12px 0px rgba(0, 0, 0, 0.2);
  padding: 15px 0;
  border-bottom: solid 3px white;
  text-align: center;
}
#copyright p {
  font-size: 0.75rem;
}

@media only screen and (max-width: 1281px) {
  #head .content-box {
    flex-wrap: wrap;
  }
  #head-menu {
    width: 100%;
  }
  .hero,
  .fullwide,
  .services,
  .packet-bg,
  .about-bg,
  .sm-bg,
  .contact,
  .blog-bg {
    width: 100vw;
    left: 50%;
  }
}
@media only screen and (max-width: 781px) {
}
